.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-weight: var(--fontNormal);
}

.navbar-icon {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  font-weight: var(--fontNormal);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: inline-block;
  }

  .navbar-item {
    display: none;
  }

  .navbar-icon p {
    display: none;
  }

  .sidebar p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  .sidebar p:hover {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    transition: 0.5s ease;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background: var(--tertiaryColor);
  padding: 20px;
  transition: 0.5s ease;
  z-index: 100;
}

.sidebar.open {
  left: 0;
}

.menu-close {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: var(--secondaryColor);
}

.sidebar-item li {
  margin: 1rem 0;
  color: var(--secondaryColor);
  cursor: pointer;
  text-align: left;
}

.sidebar-item li:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  transition: 0.5s ease;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

.sidebar-item {
  margin-top: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
